.colorNavb {
    background-color: #881739;  
    font-size: 117%;
}

.imgNavb {
    margin-left: -50%;
    height: 11vh;
}
.pedirviaje{
    margin-left: -20%;
}

body {
    background-color:rgba(255, 245, 233, 0.843);
}