.aaaa {
  font-size: 100%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 12%;
  color: brown;

  /* font-family: 'Be Vietnam Pro', sans-serif; */
  
  color: #881739;  
  letter-spacing: 4px;
}
.aaaa1 {
  font-size: 230%;
  font-family: Vogue;
  margin-left: 40%;
  color: #65132d;
}
