.centrar {
display: flex;
justify-content: center;
align-items: center;
}
.leaflet-container {
  width: 30vm;
  height: 50vh;
  margin-top: 1%;
  margin-left: 20%;
  margin-right: 28%;
  margin-bottom: 7%;
}
.imgIcono {
  width: 3%;
  height: 3%;
}
.letra {
  font-size: 250%;
  font-family: 'Be Vietnam Pro', sans-serif;;
  color: #881739;  
  letter-spacing: 10px;
}
