@font-face {
    font-family: titulo;
    src: url(./Vogue.ttf);
}

.titulo{
    text-align: center;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 230%;
    color: #881739;  
}

.DarRide{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cardheader {
    color: #e0dbd6cb;
    background-color: #881739;
}

.cardbody {
    background-color: #f5e6db;
}

.buttonbg{
    color: #e0dbd6cb;
    background-color: #881739;
    border: #881739;
    width: 100%;

}

.buttonbg:hover{
    background-color: #7b1634;
    color: #fbefe1cb;
}