.titulo {
  text-align: center;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 250%;
  color: #881739;
  letter-spacing: 10px;
}

.DarRide {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cardheader {
  color: #e0dbd6cb;
  background-color: #881739;
}

.cardbody {
  background-color: #f5e6db;
}

.buttonbg {
  color: #e0dbd6cb;
  background-color: #881739;
  border: #881739;
  width: 100%;
}

.buttonbg:hover {
  background-color: #881739;
  color: #fbefe1cb;
}
.buttonbg:active {
  background-color: #70132f;
  color: #fbefe1cb;
}
.parr {
  font-size: large;
}
.tamImg {
  width: 3%;
}
.flecha {
  margin-left: 5%;
}
