.formulario {
    margin-top: 20%;
    margin-left: 20%;
    margin-bottom: 7%;
  }
  .cardheader {
    color: #e0dbd6cb;
    background-color: #881739;
  }
  .cardbody {
    background-color: #f5e6db;
  }
  .iniciarses {
    background-color: #881739;
    border: #881739;
  }
  .cardborder {
    border-radius: 80%;
  }
  
  .iniciarses:hover {
    background-color: #7b1634;
    color: #fbefe1cb;
  }
  
  .inactive {
    color: #901b3e;
    text-decoration: none;
  }
  
  .inactive:hover {
    color: #65132d;
    text-decoration: none;
  }
  
  .leaflet-container {
    width: 30vm;
    height: 50vh;
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 28%;
    margin-bottom: 7%;
  }
  .imgIcono {
    width: 3%;
    height: 3%;
  }
  .letra {
    font-size: 300%;
    font-family: Vogue;
    margin-bottom: 0%;
    margin-top: 4%;
    margin-left: 24%;
    color: brown;
  }
  
  
  .regresar{
    background-color: #881739;
    border: #881739;
    font-size: 130%;
    width: 10rem;
    height: 3rem;
  }