@font-face {
    font-family: 'Be Vietnam Pro', sans-serif;
    src: url(Vogue.ttf);
}
.estiloTitulo {
    color: black;
    font-family: 'Raleway', sans-serif;
}
.contenedorTitulo {
    /* centrar */
    display: flex;
    align-items: center;
    flex-direction: column;

    /* paddings */
}
.imgTitulo {
    width: 100%;
    border-radius: 5%;
}
.UpBus{
    font-size: 400%;
    font-family: Vogue;
    margin-bottom: 0%;
    margin-top: 4%;
}
.sub{
    margin-bottom: 5%;
    font-size: 200%;
}

