@font-face {
    font-family: Vogue;
    src: url(Vogue.ttf);
}
.estiloTitulo {
    color: black;
    font-family: 'Raleway', sans-serif;
}
.contenedorTitulo {
    /* centrar */
    display: flex;
    align-items: center;
    flex-direction: column;

    /* paddings */
    padding:8% 8% 3% 8%;
}
.imgTitulo {
    width: 120%;
    border-radius: 5%;
}
.UpBus{
    font-size: 300%;
    font-family: Vogue;
    margin-bottom: 0%;
    margin-top: 2%;
}
.sub{
    margin-bottom: 5%;
}

