.formulario{    
    /* centrar */
    display: flex;
    align-items: center;
    flex-direction: column;

    /* paddings */
    padding:8%; 
}
.cardheader{
    color: #e0dbd6cb;
    background-color: #881739;
}

.cardbody{
    background-color: #EAD3C1;
}

.registr{
    background-color: #881739;
    border: #881739;
}